//remove media query for animation on cell phone

body{
  @include desktop{
    .anim {
      opacity: 0;
  }
  
  @keyframes anim1 {
      from {
        transform: translateX(-100px);
        opacity: 0;
      }
      to  {
        transform: translateX(0);
        opacity: 1;
      }
    }
  
  //SECOND
  .anim2 {
      opacity: 0;
  }
  
  @keyframes anim3 {
      from {
        transform: translateY(50px);
        opacity: 0;
      }
      to  {
        transform: translateY(0);
        opacity: 1;
      }
    }
  }
}