.animated-contact{
  display: flex;
  justify-content: center;
  align-items: center;
  font-size: $h1-font-size;
  color: white;
  margin-left: -5rem;
}
  p {
    display: inline-block;
    vertical-align: top;
    margin: 0;
  }
  
  .word {
    position: absolute;
    width: 220px;
    opacity: 0;
  }
  
  .letter {
    display: inline-block;
    position: relative;
   
    transform: translateZ(25px);
    transform-origin: 50% 50% 25px;
  }
  
  .letter.out {
    transform: rotateX(90deg);
    transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  }
  
  .letter.behind {
    transform: rotateX(-90deg);
  }
  
  .letter.in {
    transform: rotateX(0deg);
    transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  }
  

  .belize {
    color: color(github);
  }
  
  .pomegranate {
    color: color(google);
  }
  

  .midnight {
    color: color(linkedin);
  }
  .title-about{
    h1{
      margin-bottom: 0;
    }
  }
  .title-a-contact{
    text-align: center;
    color: #fff;
    font-size: $h2-font-size;
    letter-spacing: $normal-spacing;
    text-transform: uppercase;
    background: -webkit-linear-gradient(#eee, #333);
    background-clip: text;
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    p{
      color: white;
      -webkit-text-fill-color: #fff;
      margin-bottom: 1rem;
    }
  }