@charset "UTF-8";
/*========== FONTS ==========*/
@import url("https://fonts.googleapis.com/css2?family=Oswald:wght@400;500;600&display=swap");
/*========== shortcuts function color and screen size==========*/
html, body {
  width: 100%;
  height: 100%;
  padding: 0px;
  margin: 0px;
  background: #191d1e;
  /* Old browsers */
  /* FF3.6+ */
  /* Chrome,Safari4+ */
  /* Chrome10+,Safari5.1+ */
  /* Opera 11.10+ */
  /* IE10+ */
  background: -webkit-gradient(linear, left bottom, left top, color-stop(50%, #191d1e), to(#283139));
  background: linear-gradient(0deg, #191d1e 50%, #283139 100%);
  /* W3C */
  filter: progid:DXImageTransform.Microsoft.gradient( startColorstr='#191d1e', endColorstr='#283139',GradientType=1 );
  /* IE6-9 fallback on horizontal gradient */
  background-attachment: fixed;
}

#projector {
  position: absolute;
  top: 0px;
  left: 0px;
  width: 100%;
  height: 100%;
}

.center-div {
  width: 580px;
  height: 374px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -290px;
  margin-top: -187px;
}

#preloaderDiv {
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -27px;
  margin-top: -27px;
}

#logo {
  opacity: 0;
  filter: alpha(opacity=0);
}

#date2014 {
  position: absolute;
  padding-left: 210px;
  padding-top: 15px;
  opacity: 0;
  top: 303px;
  left: 0;
  filter: alpha(opacity=0);
}

.container {
  z-index: 1;
}

#projector {
  position: absolute;
}

.hero {
  display: inline-block;
  height: 100vh;
}

#app {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 40%;
  left: 50%;
}

#wrapper {
  text-align: center;
}

.sub {
  color: #ffefef;
  letter-spacing: 1em;
}

/* Our mixin positions a copy of our text
directly on our existing text, while
also setting content to the appropriate
text set in the data-text attribute. */
.glitch {
  position: relative;
  color: white;
  font-size: 4em;
  letter-spacing: 0.2rem;
  /* Animation provies a slight random skew. Check bottom of doc
  for more information on how to random skew. */
  animation: glitch-skew 1s infinite linear alternate-reverse;
}

.glitch::before {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: 2px;
  text-shadow: -2px 0 #ff00c1;
  /* Creates an initial clip for our glitch. This works in
    a typical top,right,bottom,left fashion and creates a mask
    to only show a certain part of the glitch at a time. */
  clip: rect(44px, 450px, 56px, 0);
  /* Runs our glitch-anim defined below to run in a 5s loop, infinitely,
    with an alternating animation to keep things fresh. */
  animation: glitch-anim 5s infinite linear alternate-reverse;
}

.glitch::after {
  content: attr(data-text);
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  left: -2px;
  text-shadow: -2px 0 #00fff9, 2px 2px #ff00c1;
  animation: glitch-anim2 1s infinite linear alternate-reverse;
}

/* Creates an animation with 20 steaps. For each step, it calculates 
a percentage for the specific step. It then generates a random clip
box to be used for the random glitch effect. Also adds a very subtle
skew to change the 'thickness' of the glitch.*/
@-webkit-keyframes glitch-anim {
  0% {
    clip: rect(34px, 9999px, 67px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  5% {
    clip: rect(84px, 9999px, 55px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  10% {
    clip: rect(61px, 9999px, 88px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  15% {
    clip: rect(100px, 9999px, 39px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  20% {
    clip: rect(64px, 9999px, 38px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  25% {
    clip: rect(47px, 9999px, 43px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  30% {
    clip: rect(100px, 9999px, 24px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  35% {
    clip: rect(40px, 9999px, 44px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  40% {
    clip: rect(18px, 9999px, 32px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  45% {
    clip: rect(2px, 9999px, 65px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  50% {
    clip: rect(57px, 9999px, 85px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  55% {
    clip: rect(71px, 9999px, 10px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  60% {
    clip: rect(61px, 9999px, 1px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  65% {
    clip: rect(99px, 9999px, 58px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  70% {
    clip: rect(50px, 9999px, 41px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  75% {
    clip: rect(76px, 9999px, 74px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  80% {
    clip: rect(94px, 9999px, 80px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  85% {
    clip: rect(23px, 9999px, 82px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  90% {
    clip: rect(92px, 9999px, 72px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  95% {
    clip: rect(80px, 9999px, 79px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  100% {
    clip: rect(58px, 9999px, 87px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
}
@keyframes glitch-anim {
  0% {
    clip: rect(34px, 9999px, 67px, 0);
    -webkit-transform: skew(0.09deg);
            transform: skew(0.09deg);
  }
  5% {
    clip: rect(84px, 9999px, 55px, 0);
    -webkit-transform: skew(0.42deg);
            transform: skew(0.42deg);
  }
  10% {
    clip: rect(61px, 9999px, 88px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  15% {
    clip: rect(100px, 9999px, 39px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  20% {
    clip: rect(64px, 9999px, 38px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  25% {
    clip: rect(47px, 9999px, 43px, 0);
    -webkit-transform: skew(0.01deg);
            transform: skew(0.01deg);
  }
  30% {
    clip: rect(100px, 9999px, 24px, 0);
    -webkit-transform: skew(0.04deg);
            transform: skew(0.04deg);
  }
  35% {
    clip: rect(40px, 9999px, 44px, 0);
    -webkit-transform: skew(0.98deg);
            transform: skew(0.98deg);
  }
  40% {
    clip: rect(18px, 9999px, 32px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  45% {
    clip: rect(2px, 9999px, 65px, 0);
    -webkit-transform: skew(0.41deg);
            transform: skew(0.41deg);
  }
  50% {
    clip: rect(57px, 9999px, 85px, 0);
    -webkit-transform: skew(0.18deg);
            transform: skew(0.18deg);
  }
  55% {
    clip: rect(71px, 9999px, 10px, 0);
    -webkit-transform: skew(0.1deg);
            transform: skew(0.1deg);
  }
  60% {
    clip: rect(61px, 9999px, 1px, 0);
    -webkit-transform: skew(0.78deg);
            transform: skew(0.78deg);
  }
  65% {
    clip: rect(99px, 9999px, 58px, 0);
    -webkit-transform: skew(0.76deg);
            transform: skew(0.76deg);
  }
  70% {
    clip: rect(50px, 9999px, 41px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  75% {
    clip: rect(76px, 9999px, 74px, 0);
    -webkit-transform: skew(0.87deg);
            transform: skew(0.87deg);
  }
  80% {
    clip: rect(94px, 9999px, 80px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  85% {
    clip: rect(23px, 9999px, 82px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  90% {
    clip: rect(92px, 9999px, 72px, 0);
    -webkit-transform: skew(0.56deg);
            transform: skew(0.56deg);
  }
  95% {
    clip: rect(80px, 9999px, 79px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  100% {
    clip: rect(58px, 9999px, 87px, 0);
    -webkit-transform: skew(0.77deg);
            transform: skew(0.77deg);
  }
}

@-webkit-keyframes glitch-anim2 {
  0% {
    clip: rect(88px, 9999px, 10px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  5% {
    clip: rect(99px, 9999px, 51px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  10% {
    clip: rect(75px, 9999px, 3px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  15% {
    clip: rect(70px, 9999px, 21px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  20% {
    clip: rect(55px, 9999px, 57px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  25% {
    clip: rect(99px, 9999px, 69px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  30% {
    clip: rect(75px, 9999px, 63px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  35% {
    clip: rect(69px, 9999px, 33px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  40% {
    clip: rect(47px, 9999px, 97px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  45% {
    clip: rect(35px, 9999px, 36px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  50% {
    clip: rect(61px, 9999px, 87px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  55% {
    clip: rect(28px, 9999px, 21px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  60% {
    clip: rect(70px, 9999px, 68px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  65% {
    clip: rect(26px, 9999px, 18px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  70% {
    clip: rect(33px, 9999px, 100px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  75% {
    clip: rect(77px, 9999px, 52px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  80% {
    clip: rect(54px, 9999px, 59px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  85% {
    clip: rect(54px, 9999px, 52px, 0);
    -webkit-transform: skew(0.94deg);
            transform: skew(0.94deg);
  }
  90% {
    clip: rect(16px, 9999px, 4px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  95% {
    clip: rect(55px, 9999px, 32px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  100% {
    clip: rect(7px, 9999px, 23px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
}

@keyframes glitch-anim2 {
  0% {
    clip: rect(88px, 9999px, 10px, 0);
    -webkit-transform: skew(0.85deg);
            transform: skew(0.85deg);
  }
  5% {
    clip: rect(99px, 9999px, 51px, 0);
    -webkit-transform: skew(0.25deg);
            transform: skew(0.25deg);
  }
  10% {
    clip: rect(75px, 9999px, 3px, 0);
    -webkit-transform: skew(0.61deg);
            transform: skew(0.61deg);
  }
  15% {
    clip: rect(70px, 9999px, 21px, 0);
    -webkit-transform: skew(0.82deg);
            transform: skew(0.82deg);
  }
  20% {
    clip: rect(55px, 9999px, 57px, 0);
    -webkit-transform: skew(0.16deg);
            transform: skew(0.16deg);
  }
  25% {
    clip: rect(99px, 9999px, 69px, 0);
    -webkit-transform: skew(0.99deg);
            transform: skew(0.99deg);
  }
  30% {
    clip: rect(75px, 9999px, 63px, 0);
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  35% {
    clip: rect(69px, 9999px, 33px, 0);
    -webkit-transform: skew(0.55deg);
            transform: skew(0.55deg);
  }
  40% {
    clip: rect(47px, 9999px, 97px, 0);
    -webkit-transform: skew(0.14deg);
            transform: skew(0.14deg);
  }
  45% {
    clip: rect(35px, 9999px, 36px, 0);
    -webkit-transform: skew(0.36deg);
            transform: skew(0.36deg);
  }
  50% {
    clip: rect(61px, 9999px, 87px, 0);
    -webkit-transform: skew(0.84deg);
            transform: skew(0.84deg);
  }
  55% {
    clip: rect(28px, 9999px, 21px, 0);
    -webkit-transform: skew(0.24deg);
            transform: skew(0.24deg);
  }
  60% {
    clip: rect(70px, 9999px, 68px, 0);
    -webkit-transform: skew(0.93deg);
            transform: skew(0.93deg);
  }
  65% {
    clip: rect(26px, 9999px, 18px, 0);
    -webkit-transform: skew(0.34deg);
            transform: skew(0.34deg);
  }
  70% {
    clip: rect(33px, 9999px, 100px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  75% {
    clip: rect(77px, 9999px, 52px, 0);
    -webkit-transform: skew(0.28deg);
            transform: skew(0.28deg);
  }
  80% {
    clip: rect(54px, 9999px, 59px, 0);
    -webkit-transform: skew(0.88deg);
            transform: skew(0.88deg);
  }
  85% {
    clip: rect(54px, 9999px, 52px, 0);
    -webkit-transform: skew(0.94deg);
            transform: skew(0.94deg);
  }
  90% {
    clip: rect(16px, 9999px, 4px, 0);
    -webkit-transform: skew(0.86deg);
            transform: skew(0.86deg);
  }
  95% {
    clip: rect(55px, 9999px, 32px, 0);
    -webkit-transform: skew(0.54deg);
            transform: skew(0.54deg);
  }
  100% {
    clip: rect(7px, 9999px, 23px, 0);
    -webkit-transform: skew(0.43deg);
            transform: skew(0.43deg);
  }
}

@-webkit-keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  10% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  20% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  30% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  40% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  50% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  60% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  70% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  80% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  90% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  100% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
}

@keyframes glitch-skew {
  0% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  10% {
    -webkit-transform: skew(1deg);
            transform: skew(1deg);
  }
  20% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  30% {
    -webkit-transform: skew(5deg);
            transform: skew(5deg);
  }
  40% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  50% {
    -webkit-transform: skew(3deg);
            transform: skew(3deg);
  }
  60% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  70% {
    -webkit-transform: skew(2deg);
            transform: skew(2deg);
  }
  80% {
    -webkit-transform: skew(4deg);
            transform: skew(4deg);
  }
  90% {
    -webkit-transform: skew(-4deg);
            transform: skew(-4deg);
  }
  100% {
    -webkit-transform: skew(-1deg);
            transform: skew(-1deg);
  }
}

.navigation {
  height: 70px;
  background: transparent;
  font-size: 1.3rem;
}

.brand {
  position: absolute;
  padding-left: 20px;
  float: left;
  line-height: 70px;
  text-transform: uppercase;
  font-size: 1.4em;
}

.brand a,
.brand a:visited {
  color: #ffffff;
  text-decoration: none;
}

.nav-container {
  max-width: 1000px;
  margin: 0 auto;
}

nav {
  float: right;
}

nav ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

nav ul li {
  float: left;
  position: relative;
}

nav ul li a,
nav ul li a:visited {
  display: block;
  padding: 0 20px;
  line-height: 70px;
  background: transparent;
  color: #ffffff;
  text-decoration: none;
}

nav ul li a:hover,
nav ul li a:visited:hover {
  background: #2581DC;
  color: #ffffff;
}

nav ul li a:not(:only-child):after,
nav ul li a:visited:not(:only-child):after {
  padding-left: 4px;
  content: ' ▾';
}

nav ul li ul li {
  min-width: 190px;
}

nav ul li ul li a {
  padding: 15px;
  line-height: 20px;
}

.nav-dropdown {
  position: absolute;
  display: none;
  z-index: 1;
  -webkit-box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
          box-shadow: 0 3px 12px rgba(0, 0, 0, 0.15);
}

/* Mobile navigation */
.nav-mobile {
  display: none;
  position: absolute;
  top: 0;
  right: 0;
  background: transparent;
  height: 70px;
  width: 70px;
}

@media only screen and (max-width: 798px) {
  .nav-mobile {
    display: block;
  }
  nav {
    width: 100%;
    padding: 70px 0 15px;
  }
  nav ul {
    display: none;
    background: rgba(38, 38, 38, 0.438);
  }
  nav ul li {
    float: none;
  }
  nav ul li a {
    padding: 15px;
    line-height: 20px;
  }
  nav ul li ul li a {
    padding-left: 30px;
  }
  .nav-dropdown {
    position: static;
  }
}

@media screen and (min-width: 799px) {
  .nav-list {
    display: block !important;
  }
}

#nav-toggle {
  position: absolute;
  left: 18px;
  top: 22px;
  cursor: pointer;
  padding: 10px 35px 16px 0px;
}

#nav-toggle span,
#nav-toggle span:before,
#nav-toggle span:after {
  cursor: pointer;
  border-radius: 1px;
  height: 5px;
  width: 35px;
  background: #ffffff;
  position: absolute;
  display: block;
  content: '';
  -webkit-transition: all 300ms ease-in-out;
  transition: all 300ms ease-in-out;
}

#nav-toggle span:before {
  top: -10px;
}

#nav-toggle span:after {
  bottom: -10px;
}

#nav-toggle.active span {
  background-color: transparent;
}

#nav-toggle.active span:before, #nav-toggle.active span:after {
  top: 0;
}

#nav-toggle.active span:before {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}

#nav-toggle.active span:after {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
}

article {
  max-width: 1000px;
  margin: 0 auto;
  padding: 10px;
}

.nav-dropdown {
  background: rgba(38, 38, 38, 0.438);
}

.about-me {
  margin: auto;
  text-align: center;
  width: 90vw;
  background: transparent;
  color: whitesmoke;
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  border-collapse: collapse;
}

.about-me .title-about h1 {
  font-size: 2.5rem;
  font-weight: 600;
  letter-spacing: 0.2rem;
  text-transform: uppercase;
  font-style: italic;
}

.about-me .text-about {
  font-size: 1.3rem;
  margin: 1rem;
}

@media (min-width: 768px) {
  .about-me {
    width: 70%;
  }
}

.title-about {
  margin-top: 0;
}

@media (min-width: 768px) {
  .title-about {
    margin-top: 4rem;
  }
}

#imgabout {
  -webkit-clip-path: circle(50% at 50% 50%);
          clip-path: circle(50% at 50% 50%);
}

.about-grid {
  width: 90%;
}

@media (min-width: 1130px) {
  .about-grid {
    width: 75%;
  }
}

/*========== GRIDD ==========*/
.about-grid .grid-title {
  text-transform: uppercase;
  background: -webkit-linear-gradient(#eee, #333);
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  font-size: 1.5rem;
}

.about-grid .qk-text {
  font-size: 1.3rem;
}

.about-grid .subtitle-about {
  font-size: 2rem;
  color: #fc3735;
  background: -webkit-linear-gradient(left, #d53a9d, #00bcd4, #d53a9d);
  background-size: 1600px 200px;
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  -webkit-animation-duration: 3s;
          animation-duration: 3s;
  -webkit-animation-name: animationgradienttitle;
          animation-name: animationgradienttitle;
  -webkit-animation-iteration-count: infinite;
          animation-iteration-count: infinite;
  -webkit-animation-fill-mode: forwards;
          animation-fill-mode: forwards;
}

@-webkit-keyframes animationgradienttitle {
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}

@keyframes animationgradienttitle {
  0% {
    background-position: 0 1600px;
  }
  100% {
    background-position: 1600px 0;
  }
}

.about-grid .bx-about {
  font-size: 3rem;
}

@media (min-width: 768px) {
  .about-grid .grid-border {
    border-width: 3px;
    border-style: inset;
    -o-border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
       border-image: -webkit-gradient(linear, left top, left bottom, from(red), to(rgba(0, 0, 0, 0))) 1 100%;
       border-image: linear-gradient(to bottom, red, rgba(0, 0, 0, 0)) 1 100%;
  }
}

@media (min-width: 768px) {
  .about-grid {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 1fr 2fr;
        grid-template-rows: 1fr 2fr;
    grid-column-gap: 0px;
    grid-row-gap: 0px;
  }
}

.about-grid .div1-about {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 1;
  grid-area: 2 / 1 / 3 / 2;
}

.about-grid .div2-about {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 2;
  -ms-grid-column-span: 1;
  grid-area: 2 / 2 / 3 / 3;
}

.about-grid .div3-about {
  -ms-grid-row: 2;
  -ms-grid-row-span: 1;
  -ms-grid-column: 3;
  -ms-grid-column-span: 1;
  grid-area: 2 / 3 / 3 / 4;
}

.about-grid .div4-about {
  -ms-grid-row: 1;
  -ms-grid-row-span: 1;
  -ms-grid-column: 1;
  -ms-grid-column-span: 3;
  grid-area: 1 / 1 / 2 / 4;
}

/*========== CARDS ==========*/
.cards-about {
  margin: auto;
  text-align: center;
  width: 90vw;
  margin-top: 3rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-flow: row wrap;
          flex-flow: row wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1rem;
}

.cards-about .card-about {
  margin: auto;
  margin-bottom: 2rem;
  height: 100%;
  border: 1px solid;
  border-image-slice: 1;
  border-width: 1px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  background: linear-gradient(60deg, #f79533, #f37055, #ef4e7b, #a166ab, #5073b8, #1098ad, #07b39b, #6fba82);
  -webkit-animation: animatedgradient 3s ease alternate infinite;
  animation: animatedgradient 20s ease alternate infinite;
  background-size: 300% 300%;
  border-collapse: collapse;
  overflow-y: auto;
  color: whitesmoke;
}

.cards-about .card-about .text-card {
  margin: 1rem;
  word-wrap: break-word;
}

.cards-about .card-about .text-card p {
  font-size: 1.3rem;
  letter-spacing: 0.1rem;
}

@media (min-width: 950px) {
  .cards-about .card-about .text-card p {
    font-size: 1.5rem;
  }
}

.cards-about .card-about .icon-card {
  font-size: 5rem;
}

.cards-about .card-about .bx-cards {
  font-size: 3rem;
}

.cards-about .card-about .title-card {
  text-transform: uppercase;
  word-spacing: 0.1rem;
  font-size: 2rem;
}

@media (min-width: 950px) {
  .cards-about {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (1fr)[3];
        grid-template-columns: repeat(3, 1fr);
    -ms-grid-rows: 2fr;
        grid-template-rows: 2fr;
    grid-column-gap: 5px;
    grid-row-gap: 0px;
  }
  .cards-about .first-card {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 1;
    -ms-grid-column-span: 1;
    grid-area: 1 / 1 / 2 / 2;
  }
  .cards-about .second-card {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 2;
    -ms-grid-column-span: 1;
    grid-area: 1 / 2 / 2 / 3;
  }
  .cards-about .third-card {
    -ms-grid-row: 1;
    -ms-grid-row-span: 1;
    -ms-grid-column: 3;
    -ms-grid-column-span: 1;
    grid-area: 1 / 3 / 2 / 4;
  }
}

/*========== BACKGROUND ANIMATION ==========*/
@-webkit-keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

@keyframes animatedgradient {
  0% {
    background-position: 0% 50%;
  }
  50% {
    background-position: 100% 50%;
  }
  100% {
    background-position: 0% 50%;
  }
}

/*========== ABOUT ME TITLE ==========*/
.neon-title {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-family: monospace;
}

.neon-title .text {
  text-align: center;
  position: relative;
}

.neon-title .text h1 {
  margin-top: 1rem;
  margin-bottom: 1rem;
  font-size: 4rem;
  font-weight: bolder;
  text-transform: uppercase;
  letter-spacing: 0.2rem;
  color: transparent;
  text-shadow: 0 0 25px #00bcd4;
  -webkit-text-stroke: 2px #00bcd4;
}

.neon-title .text h1:nth-child(2) {
  position: absolute;
  top: 0;
  left: 0;
  color: #00bcd4;
  -webkit-animation: neon-title 3s ease-in-out infinite;
          animation: neon-title 3s ease-in-out infinite;
}

@media (min-width: 768px) {
  .neon-title .text h1 {
    font-size: 8rem;
  }
}

@-webkit-keyframes neon-title {
  0%, 100% {
    -webkit-clip-path: polygon(0% 51%, 13% 48%, 26% 50%, 37% 53%, 50% 55%, 61% 58%, 76% 60%, 91% 59%, 100% 51%, 100% 100%, 0 100%);
            clip-path: polygon(0% 51%, 13% 48%, 26% 50%, 37% 53%, 50% 55%, 61% 58%, 76% 60%, 91% 59%, 100% 51%, 100% 100%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 51%, 9% 57%, 21% 62%, 36% 63%, 49% 57%, 60% 50%, 75% 46%, 91% 44%, 100% 42%, 100% 100%, 0 100%);
            clip-path: polygon(0 51%, 9% 57%, 21% 62%, 36% 63%, 49% 57%, 60% 50%, 75% 46%, 91% 44%, 100% 42%, 100% 100%, 0 100%);
  }
}

@keyframes neon-title {
  0%, 100% {
    -webkit-clip-path: polygon(0% 51%, 13% 48%, 26% 50%, 37% 53%, 50% 55%, 61% 58%, 76% 60%, 91% 59%, 100% 51%, 100% 100%, 0 100%);
            clip-path: polygon(0% 51%, 13% 48%, 26% 50%, 37% 53%, 50% 55%, 61% 58%, 76% 60%, 91% 59%, 100% 51%, 100% 100%, 0 100%);
  }
  50% {
    -webkit-clip-path: polygon(0 51%, 9% 57%, 21% 62%, 36% 63%, 49% 57%, 60% 50%, 75% 46%, 91% 44%, 100% 42%, 100% 100%, 0 100%);
            clip-path: polygon(0 51%, 9% 57%, 21% 62%, 36% 63%, 49% 57%, 60% 50%, 75% 46%, 91% 44%, 100% 42%, 100% 100%, 0 100%);
  }
}

@media (min-width: 768px) {
  body .anim {
    opacity: 0;
  }
  @-webkit-keyframes anim1 {
    from {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  @keyframes anim1 {
    from {
      -webkit-transform: translateX(-100px);
              transform: translateX(-100px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateX(0);
              transform: translateX(0);
      opacity: 1;
    }
  }
  body .anim2 {
    opacity: 0;
  }
  @-webkit-keyframes anim3 {
    from {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
  @keyframes anim3 {
    from {
      -webkit-transform: translateY(50px);
              transform: translateY(50px);
      opacity: 0;
    }
    to {
      -webkit-transform: translateY(0);
              transform: translateY(0);
      opacity: 1;
    }
  }
}

/* ----> wrapper */
#content-slider .slider-wrap {
  max-width: 1200px;
  width: 100%;
  margin: 0px auto;
  position: relative;
  text-align: right;
}

#content-slider .slider-wrap.full {
  width: 100%;
  max-width: 100%;
  text-align: center;
  border: none;
}

/* --------> Link style */
#content-slider *:focus {
  outline: 0;
}

#content-slider a:hover {
  color: #7FD4FD;
  text-decoration: underline;
}

#content-slider a:focus {
  outline: thin dotted #333;
  outline: 5px auto -webkit-focus-ring-color;
  outline-offset: -2px;
}

#content-slider a:hover,
#content-slider a:active {
  outline: 0;
}

/* -------> Responsive images (ensure images don't scale beyond their parents) */
#content-slider img {
  width: 100%;
  height: 100%;
  -o-object-fit: cover;
  object-fit: cover;
  vertical-align: middle;
  border: 0;
}

/* -------> Main */
#content-slider .slider {
  overflow: hidden;
  width: 100%;
  height: 35rem;
  margin: 0 auto;
  position: relative;
}

#content-slider .slider-inner {
  width: 500%;
  line-height: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  height: 100%;
  -webkit-animation: 30s slidy infinite;
          animation: 30s slidy infinite;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#content-slider .slider-main-title {
  letter-spacing: 0.1rem;
  color: white;
  text-align: center;
  font-weight: 700;
  font-size: 2.5rem;
  line-height: 3rem;
  text-transform: uppercase;
  margin: 1rem 0;
}

#content-slider .slider .slider-head {
  position: absolute;
  z-index: 12;
  width: 40%;
  height: auto;
  display: inline-block;
  background: rgba(0, 0, 0, 0.5);
  padding: 1rem 1rem;
  margin: 1rem 0 0 1rem;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

#content-slider .slider-thumb .slider-head {
  position: absolute;
  z-index: 12;
  top: 0;
  right: 0;
  width: auto;
  height: auto;
  text-align: right;
  margin: .5rem .5rem 0 0;
  opacity: 1;
  overflow: hidden;
  -webkit-transition: all 0.5s ease-in-out;
  transition: all 0.5s ease-in-out;
}

/* -------> Article */
#content-slider .slider h2,
#content-slider .slider-thumb h2 {
  color: #fff;
  text-transform: uppercase;
  padding: 0;
  margin: 0;
  font-weight: 700;
  line-height: 1.2;
}

#content-slider .slider p,
#content-slider .slider-thumb p {
  color: #fffefe;
  padding: 0;
  margin: 0 0 1rem;
  opacity: .8;
  line-height: 1.2;
}

#content-slider .slider a,
#content-slider .slider-thumb a {
  font-weight: 700;
  color: #00ABFA;
  text-decoration: none;
  line-height: 1.2;
}

/* -------> Article IMg Slider */
#content-slider .slider h1 {
  font-size: 1.5rem;
  line-height: 1.2;
}

#content-slider .slider p {
  font-size: 1.2rem;
  line-height: 1.2;
}

#content-slider .slider a {
  font-size: 1rem;
  line-height: 1.2;
}

/* -------> Article IMg Prev */
#content-slider .slider-thumb h2 {
  font-size: 1rem;
  line-height: 1.2;
}

#content-slider .slider-thumb p {
  font-size: .875rem;
  line-height: 1.2;
}

#content-slider .slider-thumb a {
  font-size: .75rem;
  line-height: 1.2;
}

/* -------> Main Img */
#content-slider figure {
  margin: 0;
  padding: 0;
  width: 20%;
  cursor: pointer;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

#content-slider figure img {
  width: 100%;
  position: relative;
}

/* -------> Max contrls img preview */
#content-slider .slider-thumb {
  width: 25%;
  margin: 35rem 0% 0 0%;
  text-align: center;
  display: block;
  z-index: 1000;
  cursor: pointer;
  position: absolute;
}

#content-slider .slider-thumb:after {
  content: '';
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background: #000;
  opacity: .55;
  -webkit-transition: all .2s ease-in-out;
  transition: all .2s ease-in-out;
}

#content-slider .slider-thumb:hover:after {
  opacity: 0;
}

#thumb-1 {
  left: 0;
}

#thumb-2 {
  left: 25%;
}

#thumb-3 {
  left: 50%;
}

#thumb-4 {
  left: 75%;
}

#content-slider input[type='radio'] {
  width: 10px;
  height: 10px;
  position: absolute;
  display: none;
}

#content-slider .slider-arrow-control {
  position: absolute;
  left: 0;
  z-index: 15;
  top: 0%;
  width: 100%;
  height: 3.125rem;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
}

#content-slider .slider-dot {
  width: 9px;
  height: 9px;
  margin: 0 2px;
  text-align: center;
  display: inline-block;
  position: relative;
  z-index: 1000;
  cursor: pointer;
  border-radius: 100%;
  border: 2px solid #00ABFA;
  background: #00ABFA;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
}

#content-slider .slider-dot-control {
  padding: 1rem 0;
  width: 100%;
  bottom: 0;
  z-index: 10;
  position: absolute;
  text-align: center;
  background: rgba(0, 0, 0, 0.7);
  font-size: 0;
  line-height: 0;
}

#content-slider .slider-dot-control > label:hover {
  width: 9px;
  height: 9px;
  background: #FFF;
  border: 1px solid #00ABFA;
}

/* -------> Controls */
#input-1:checked ~ .slider .slider-inner {
  margin-left: 0%;
}

#input-2:checked ~ .slider .slider-inner {
  margin-left: -100%;
}

#input-3:checked ~ .slider .slider-inner {
  margin-left: -200%;
}

#input-4:checked ~ .slider .slider-inner {
  margin-left: -300%;
}

#input-5:checked ~ .slider .slider-inner {
  margin-left: -400%;
}

#input-1:checked ~ .slider-dot-control > label:nth-child(1) {
  opacity: 1;
  background: #fff;
}

#input-2:checked ~ .slider-dot-control > label:nth-child(2) {
  opacity: 1;
  background: #fff;
}

#input-3:checked ~ .slider-dot-control > label:nth-child(3) {
  opacity: 1;
  background: #fff;
}

#input-4:checked ~ .slider-dot-control > label:nth-child(4) {
  opacity: 1;
  background: #fff;
}

#input-1:checked ~ #thumb-1:after {
  opacity: 0;
}

#input-2:checked ~ #thumb-2:after {
  opacity: 0;
}

#input-3:checked ~ #thumb-3:after {
  opacity: 0;
}

#input-4:checked ~ #thumb-4:after {
  opacity: 0;
}

.slider-arrow-control > label:nth-child(2) {
  width: 3.125rem;
  height: 3.125rem;
  top: 50%;
  margin-top: -1.5625rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#input-1:checked ~ .slider-arrow-control > label:nth-child(2),
#input-2:checked ~ .slider-arrow-control > label:nth-child(3),
#input-3:checked ~ .slider-arrow-control > label:nth-child(4),
#input-4:checked ~ .slider-arrow-control > label:nth-child(1),
#input-5:checked ~ .slider-arrow-control > label:nth-child(1),
#input-1:checked ~ .slider-arrow-control > label:nth-child(4),
#input-2:checked ~ .slider-arrow-control > label:nth-child(1),
#input-3:checked ~ .slider-arrow-control > label:nth-child(2),
#input-4:checked ~ .slider-arrow-control > label:nth-child(3) {
  width: 3.125rem;
  height: 3.125rem;
  top: 50%;
  margin-top: -1.5625rem;
  display: inline-block;
  position: relative;
  cursor: pointer;
}

#input-1:checked ~ .slider-arrow-control > label:nth-child(2):after,
#input-2:checked ~ .slider-arrow-control > label:nth-child(3):after,
#input-3:checked ~ .slider-arrow-control > label:nth-child(4):after,
#input-4:checked ~ .slider-arrow-control > label:nth-child(1):after,
#input-5:checked ~ .slider-arrow-control > label:nth-child(1):after,
#input-1:checked ~ .slider-arrow-control > label:nth-child(4):after,
#input-2:checked ~ .slider-arrow-control > label:nth-child(1):after,
#input-3:checked ~ .slider-arrow-control > label:nth-child(2):after,
#input-4:checked ~ .slider-arrow-control > label:nth-child(3):after {
  font-family: "Font Awesome 5 Free";
  font-weight: 900;
  font-size: 2.125rem;
  line-height: 3.125rem;
  color: #00ABFA;
  position: absolute;
  top: 0;
  left: 0;
  text-align: center;
  width: 3.125rem;
  background: rgba(0, 0, 0, 0.5);
}

#input-1:checked ~ .slider-arrow-control > label:nth-child(2),
#input-2:checked ~ .slider-arrow-control > label:nth-child(3),
#input-3:checked ~ .slider-arrow-control > label:nth-child(4),
#input-4:checked ~ .slider-arrow-control > label:nth-child(1) {
  float: right;
  right: 0;
}

#input-1:checked ~ .slider-arrow-control > label:nth-child(2):after,
#input-2:checked ~ .slider-arrow-control > label:nth-child(3):after,
#input-3:checked ~ .slider-arrow-control > label:nth-child(4):after,
#input-4:checked ~ .slider-arrow-control > label:nth-child(1):after {
  content: "\f054";
}

#input-1:checked ~ .slider-arrow-control > label:nth-child(4),
#input-2:checked ~ .slider-arrow-control > label:nth-child(1),
#input-3:checked ~ .slider-arrow-control > label:nth-child(2),
#input-4:checked ~ .slider-arrow-control > label:nth-child(3) {
  float: left;
  left: 0;
}

#input-1:checked ~ .slider-arrow-control > label:nth-child(4):after,
#input-2:checked ~ .slider-arrow-control > label:nth-child(1):after,
#input-3:checked ~ .slider-arrow-control > label:nth-child(2):after,
#input-4:checked ~ .slider-arrow-control > label:nth-child(3):after {
  content: "\f053";
}

/*#thumb-1:focus ~ .slider-inner { margin-left: 0%;   }
  #thumb-2:focus ~ .slider-inner { margin-left:-100%; }
  #thumb-3:focus ~ .slider-inner { margin-left:-200%; }
  #thumb-4:focus ~ .slider-inner { margin-left:-300%; }
  #thumb-5:focus ~ .slider-inner { margin-left:-400%; }*/
#content-slider input:checked ~ .slider-inner {
  -webkit-animation: none;
          animation: none;
}

#content-slider input:hover ~ .slider-inner,
#content-slider label:hover ~ .slider-inner {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#content-slider input:hover ~ .slider-inner,
#content-slider label:hover ~ .slider-inner {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

#content-slider span:focus ~ .slider-inner {
  -webkit-animation: none;
          animation: none;
}

#content-slider span:hover ~ .slider-inner {
  -webkit-animation-play-state: paused;
          animation-play-state: paused;
}

/* -------> Animation */
/*
  @keyframes slidy {
  20% { margin-left:    0%; }
  25% { margin-left: -100%; }
  45% { margin-left: -100%; }
  50% { margin-left: -200%; }
  70% { margin-left: -200%; }
  75% { margin-left: -300%; }
  95% { margin-left: -300%; }
  100% { margin-left: -400%; }
  }*/
/* -------> Responsive */
@media (max-width: 992px) {
  #content-slider .slider-thumb .head {
    display: none;
  }
}

@media (max-width: 768px) {
  #content-slider .slider .head {
    display: none;
  }
  #content-slider .slider-dot {
    display: none;
  }
  #content-slider .slider-arrow-control {
    display: block;
  }
  #content-slider #thumb-2:focus {
    opacity: 1;
  }
  #thumb-2:focus ~ #thumb-5 {
    display: none;
  }
  #content-slider #thumb-3:focus {
    opacity: 1;
  }
  #thumb-3:focus ~ #thumb-5 {
    display: none;
  }
  #content-slider #thumb-4:focus {
    opacity: 1;
  }
  #thumb-4:focus ~ #thumb-5 {
    display: none;
  }
}

@media (max-width: 480px) {
  .portfolio {
    padding-bottom: 6rem;
  }
  #content-slider .slider-thumb img {
    display: none;
  }
}

.portfolio {
  padding-bottom: 10rem;
}

.wrapper-chevron {
  position: absolute;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  top: 75%;
  left: 50%;
  width: 24px;
  height: 24px;
}

.chevron {
  position: absolute;
  width: 28px;
  height: 8px;
  opacity: 0;
  -webkit-transform: scale3d(0.5, 0.5, 0.5);
          transform: scale3d(0.5, 0.5, 0.5);
  -webkit-animation: move 3s ease-out infinite;
          animation: move 3s ease-out infinite;
}

.chevron:first-child {
  -webkit-animation: move 3s ease-out 1s infinite;
          animation: move 3s ease-out 1s infinite;
}

.chevron:nth-child(2) {
  -webkit-animation: move 3s ease-out 2s infinite;
          animation: move 3s ease-out 2s infinite;
}

.chevron:before,
.chevron:after {
  content: ' ';
  position: absolute;
  top: 0;
  height: 100%;
  width: 51%;
  background: #fff;
}

.chevron:before {
  left: 0;
  -webkit-transform: skew(0deg, 30deg);
          transform: skew(0deg, 30deg);
}

.chevron:after {
  right: 0;
  width: 50%;
  -webkit-transform: skew(0deg, -30deg);
          transform: skew(0deg, -30deg);
}

@-webkit-keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@keyframes move {
  25% {
    opacity: 1;
  }
  33% {
    opacity: 1;
    -webkit-transform: translateY(30px);
            transform: translateY(30px);
  }
  67% {
    opacity: 1;
    -webkit-transform: translateY(40px);
            transform: translateY(40px);
  }
  100% {
    opacity: 0;
    -webkit-transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
            transform: translateY(55px) scale3d(0.5, 0.5, 0.5);
  }
}

@-webkit-keyframes pulse {
  to {
    opacity: 1;
    scale: 1.1;
  }
}

@keyframes pulse {
  to {
    opacity: 1;
    scale: 1.1;
  }
}

.cta-span {
  display: block;
  margin-top: 75px;
  margin-left: -30px;
  font-family: "Helvetica Neue", "Helvetica", Arial, sans-serif;
  font-size: 12px;
  color: #fff;
  text-transform: uppercase;
  white-space: nowrap;
  opacity: .25;
  -webkit-animation: pulse 2s linear alternate infinite;
          animation: pulse 2s linear alternate infinite;
}

.cta-span a {
  text-decoration: none;
  color: #fff;
}

.animated-contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 2.5rem;
  color: white;
  margin-left: -5rem;
}

p {
  display: inline-block;
  vertical-align: top;
  margin: 0;
}

.word {
  position: absolute;
  width: 220px;
  opacity: 0;
}

.letter {
  display: inline-block;
  position: relative;
  -webkit-transform: translateZ(25px);
          transform: translateZ(25px);
  -webkit-transform-origin: 50% 50% 25px;
          transform-origin: 50% 50% 25px;
}

.letter.out {
  -webkit-transform: rotateX(90deg);
          transform: rotateX(90deg);
  -webkit-transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
  transition: transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19), -webkit-transform 0.32s cubic-bezier(0.55, 0.055, 0.675, 0.19);
}

.letter.behind {
  -webkit-transform: rotateX(-90deg);
          transform: rotateX(-90deg);
}

.letter.in {
  -webkit-transform: rotateX(0deg);
          transform: rotateX(0deg);
  -webkit-transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
  transition: transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275), -webkit-transform 0.38s cubic-bezier(0.175, 0.885, 0.32, 1.275);
}

.belize {
  color: #c9510c;
}

.pomegranate {
  color: #ea4335;
}

.midnight {
  color: #0077b5;
}

.title-about h1 {
  margin-bottom: 0;
}

.parent-cards {
  padding-top: 2rem;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  gap: 1rem;
}

.parent-cards a {
  text-decoration: none;
  color: white;
}

.parent-cards .card-c {
  border: 10px solid;
  border-image-slice: 1;
  border-width: 5px;
  border-image-source: linear-gradient(to left, #743ad5, #d53a9d);
  width: 80vw;
  background: rgba(0, 0, 0, 0.6);
}

.parent-cards .card-c:hover {
  mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  mask-size: 200%;
  -webkit-mask-size: 200%;
  -webkit-animation: shine 1.5s infinite;
          animation: shine 1.5s infinite;
}

.parent-cards .bx-contact {
  font-size: 10rem;
}

.parent-cards .bx-mail-send {
  color: #ea4335;
}

.parent-cards .bxl-linkedin-square {
  color: #0077b5;
}

.parent-cards .bxl-github {
  color: #c9510c;
}

@media (min-width: 768px) {
  .parent-cards {
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 70vw;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    margin: auto;
  }
}

@-webkit-keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

@keyframes shine {
  from {
    -webkit-mask-position: 150%;
  }
  to {
    -webkit-mask-position: -50%;
  }
}

/*========== BASE + NO SCROLL BAR ==========*/
html {
  height: 100%;
  overflow-x: hidden;
  overflow-y: scroll;
  scrollbar-width: none;
  /* Firefox */
  -ms-overflow-style: none;
  /* Internet Explorer 10+ */
  scroll-behavior: smooth;
}

html::-webkit-scrollbar {
  /* WebKit */
  width: 0;
  height: 0;
}

section {
  z-index: 10;
  position: relative;
}

*::before, ::after {
  margin: 0;
  padding: 0;
}

body {
  font-family: "Oswald", sans-serif;
}

body .navigation, body .hero {
  font-style: italic;
}

.about-me, .card-about {
  background: #000000;
  /* fallback for old browsers */
  /* Chrome 10-25, Safari 5.1-6 */
  background: -webkit-gradient(linear, left top, right top, from(#434343), to(#000000));
  background: linear-gradient(to right, #434343, #000000);
  /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

#imgabout {
  width: 200px;
  height: 200px;
}

.text:hover {
  mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  -webkit-mask-image: linear-gradient(-75deg, rgba(0, 0, 0, 0.6) 30%, #000 50%, rgba(0, 0, 0, 0.6) 70%);
  mask-size: 200%;
  -webkit-mask-size: 200%;
  -webkit-animation: shine 3s infinite;
          animation: shine 3s infinite;
}
/*# sourceMappingURL=main.css.map */