@import "_stars.scss";
@import "_glitch.scss";
@import "_nav.scss";
@import "_variables.scss";

html {
    height: 100%;
    overflow-x: hidden;
  }
section{
	z-index: $z-tooltip;
	position: relative;
}
.nav-dropdown{
  background: rgba(38, 38, 38, 0.438);
}
*{
  margin: 0;
  padding: 0;
}